<ion-header>
  <ion-toolbar>
    <div class="toolBarContainer">
      <ion-title>Order details</ion-title>
      <ion-buttons class="homeBtnContainer" slot="end">
        <ion-button fill="clear" [routerLink]="['/home']">
          <ion-icon slot="icon-only" name="grid"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-label class="headerModal"><h1>FROM</h1></ion-label>
  <ion-datetime presentation="time" minuteValues="0,15,30,45" class="justifyContent" [(ngModel)]="editableDate.convenientArrivalTimeFrom"></ion-datetime>
  <ion-label class="headerModal"><h1>TO</h1></ion-label>
  <ion-datetime presentation="time" minuteValues="0,15,30,45" class="justifyContent" [(ngModel)]="editableDate.convenientArrivalTimeTo"></ion-datetime>
  <ion-row>
    <ion-col class="justifyContent"><ion-button (click)="dismissModal()">Close</ion-button></ion-col>
    <ion-col class="justifyContent"><ion-button (click)="saveTime()">Save</ion-button></ion-col>
  </ion-row>
</ion-content>
