<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/logo.png">
  <form>
    <ion-item lines="none" class="formInputs">
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="postData.email" name="email" type="text" required></ion-input>
    </ion-item>

    <ion-item lines="none" class="formInputs">
      <ion-label position="floating">Password</ion-label>
      <ion-input [(ngModel)]="postData.password" name="password" type="password" required></ion-input>
    </ion-item>


  </form>
  <ion-button color="primary" shape="round" class="logInBtn" (click)="logIn()">
    Login
  </ion-button>
  <div class="separator">Or</div>


  <ion-button color="secondary" shape="round" class="otherBtns" (click)="navigateToRegister()">
    Create an account
  </ion-button>

  <ion-button color="secondary" shape="round" class="otherBtns">
    Forgot password?
  </ion-button>
</ion-content>
