img {
  display: block;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.formInputs {
  margin: 1rem;
  border: 1px solid #727272;
}

.logInBtn {
  display: block;
  margin: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 10%;
}

.otherBtns {
  display: block;
  margin: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 8%;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #727272;
}

.separator:not(:empty)::before {
  margin-left: 15px;
  margin-right: 15px;
}

.separator:not(:empty)::after {
  margin-left: 15px;
  margin-right: 15px;
}

