img {
  display: block;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.logInBtn {
  display: block;
  margin: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 10%;
}

.otherBtns {
  display: block;
  margin: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 8%;
}

