<ion-header>
  <ion-toolbar>
    <div class="toolBarContainer">
      <ion-title>Order details</ion-title>
      <ion-buttons class="homeBtnContainer" slot="end">
        <ion-button fill="clear" [routerLink]="['/home']">
          <ion-icon slot="icon-only" name="grid"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="order">
    <div class="deliveryText">
      <ion-text>Delivery #{{order.orderCode}}</ion-text>
    </div>

    <ion-grid>

      <ion-row class="row">
        <ion-col>Delivery status</ion-col>
        <ion-col>{{orderService.orderStatus}}</ion-col>
      </ion-row>
      <div class="sep"></div>
      <ion-row class="row">
        <ion-col>Date placed</ion-col>
        <ion-col>{{order.date}}</ion-col>
      </ion-row>
      <div class="sep"></div>
      <ion-row class="row">
        <ion-col>Express</ion-col>
        <ion-col>{{order.isExpress ? "Yes" : "No"}}</ion-col>
      </ion-row>
      <div class="sep"></div>
      <ion-row class="row">
        <ion-col>Fragile</ion-col>
        <ion-col>{{order.isFragile ? "Yes" : "No"}}</ion-col>
      </ion-row>
      <div class="sep"></div>
      <ion-row class="row">
        <ion-col>Size</ion-col>
        <ion-col>{{order.size}}</ion-col>
      </ion-row>
      <div class="sep"></div>
      <ion-row class="row">
        <ion-col>Delivery price</ion-col>
        <ion-col>{{order.price | currency:'EUR':true}}</ion-col>
      </ion-row>
      <div style="margin-bottom: 15px;" class="sep"></div>
      <ion-row class="row">
        <ion-col class="addressText">To:</ion-col>
        <ion-col class="addressText">From:</ion-col>
      </ion-row>
      <ion-row class="row">
        <ion-col>{{order.destinationAddress.address.street}} {{order.destinationAddress.address.houseNumber}}</ion-col>
        <ion-col>{{order.sourceAddress.address.street}} {{order.sourceAddress.address.houseNumber}}</ion-col>
      </ion-row>
      <ion-row class="row">
        <ion-col>{{order.destinationAddress.address.city}}, {{order.destinationAddress.address.country}}</ion-col>
        <ion-col>{{order.sourceAddress.address.city}}, {{order.sourceAddress.address.country}}</ion-col>
      </ion-row>
      <ion-row class="row">
        <ion-col>{{order.destinationAddress.address.postalCode}}</ion-col>
        <ion-col>{{order.sourceAddress.address.postalCode}}</ion-col>
      </ion-row>
      <div style="margin-top: 10px;" class="sep"></div>
      <ion-row class="row">
        <ion-col>Estimated delivery time</ion-col>
        <ion-col>{{order.estimatedArrivalTime}}</ion-col>
      </ion-row>

    </ion-grid>
  </div>
</ion-content>
