ion-item {
  --padding-start: 0;
  margin: 1rem;
}

.btn {
  flex-flow: column;
  min-height: 5em;
  min-width: 8em;
  opacity: 60%;
}

.expressButton {
  opacity: 100%;
}

.sizeButton {
  width: 100%;
  height: auto;
  opacity: 100%;
}

img {
  opacity: 60%;
}

.button-inner {
  flex-flow: column;
}

.justify-content-center {
  justify-content: center;
  display: flex;
}
