<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="btnContainer">
    <ion-button color="primary" shape="round" class="btns" (click)="navigateToDeliveryRegister()">
      New delivery
    </ion-button>
    <ion-button color="primary" shape="round" class="btns">
      Delivery tracking
    </ion-button>
  </div>

  <ion-text class="deliveryText">Your delivery history</ion-text>
  <ion-list class="list">
    <ion-item *ngFor="let package of packages">
      <ion-label>
        <a>{{package.orderCode}}</a>
        <ion-text class="orderStatus">{{package.orderStatus}}</ion-text>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>
