<ion-header>
  <ion-toolbar>
    <ion-title>Confirm delivery</ion-title>
    <ion-button slot="end">
      <ion-button size="small" color="primary" (click)="dismissModal() ">Close</ion-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-card class="card">
  <ion-card-header>
    <ion-card-subtitle>TO</ion-card-subtitle>
    <ion-card-title>{{order.destinationUser.firstName}} {{order.destinationUser.lastName}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    {{order.destinationUser.phoneNumber}} <br>
    {{order.destinationAddress.street}} {{order.destinationAddress.houseNumber}} <br>
    {{order.destinationAddress.city}}, {{order.destinationAddress.country}} <br>
    {{order.destinationAddress.postalCode}} <br>
  </ion-card-content>
</ion-card>

<ion-card class="card">
  <ion-card-header>
    <ion-card-subtitle>FROM</ion-card-subtitle>
    <ion-card-title>{{order.sourceUser.firstName}} {{order.sourceUser.lastName}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    {{order.sourceUser.phoneNumber}} <br>
    {{order.sourceAddress.street}} {{order.sourceAddress.houseNumber}} <br>
    {{order.sourceAddress.city}}, {{order.sourceAddress.country}} <br>
    {{order.sourceAddress.postalCode}} <br>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Delivery info</ion-card-subtitle>
    <!-- <ion-card-title *ngIf="order.isExpress">Express</ion-card-title>
    <ion-card-title *ngIf="!order.isExpress">Standart</ion-card-title> -->
  </ion-card-header>

  <ion-card-content>
    Price: {{order.price | currency:'EUR':true}} <br>
    Estimated delivery date: {{order.estimatedArrivalTime | date: 'MMM dd'}} <br>
  </ion-card-content>
</ion-card>

<ion-button color="primary" (click)="registerOrder()">Confirm</ion-button>
