.otp {
  height: 40px;
  border-bottom: solid #E50882;
  font-size: 30px;
  text-align: center;
  border-radius: 3px;
}
.codeHeader {
  justify-content: center;
  color: #E50882;
  text-align: center;
  margin: 1rem;
  display: block;
  margin-top: 5rem;
}

